/* Universal selector */
*{
    cursor: pointer;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/* Body */
body{
    background-color: #f1f1f1;
}
/* Card layout */
.card{
    border:2px solid black;
    height:400px;
    width:300px;
    margin: 50px 450px;
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.596);
}
/* styling image */
img{
    height: 100px;
    width: 100px;
    border-radius: 45px;
    margin: 50px 90px;
    border: 2px solid white; 
}
/* style title */
h2{
    text-align: center;
    color: purple;
    font-size: 30px;
}
/* style  heading*/
p{
    text-align: center;
    color: black;
    font-size: 20px;
}
/* Id for styling card */
#card1{
    background-color: #FFC0CB;
}
/* Button to follow */
button{
    background-color:rgb(238, 70, 70);
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 20px 100px;
    cursor: pointer;
}
/* Pseudo selector */
button:hover{
    background-color:green;
}
a:link{
    color: white;
    text-decoration: none;
}
a:visited{
    color: white;
}
a:hover{
    color: white;
}
